html,body {
  background: #E5EDFE;
  background: linear-gradient(145deg, rgba(229, 237, 254, 1) 48%, rgba(241, 244, 255, 1) 65%, rgba(255, 255, 255, 1) 100%);
  color: rgb(68, 68, 68);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

