body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    width: 100vw;
    height: 100vh;
}
nav{
    background: #000E4DD5;
background: linear-gradient(-90deg, rgba(0, 14, 77, 1) 22%, rgba(255, 255, 255, 0.596) 100%);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: solid 0.5px #ffffff6e;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.banner{
    background-color: #000e4dd5;
    text-align: center;
    height: 200px;
    margin-top: -20px;
} 
[class^="section-"] {
    background: rgb(255, 255, 255);
    padding: 20px;         
    width: 90px;
    border-radius: 50px;
    height: 20px;
    margin-top: 20px;

}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: transparent;
}
::-webkit-scrollbar {
    width:0;
}
