@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
::-webkit-scrollbar{
    width: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* ใช้สีพื้นหลัง background-dark (#101922) ที่คุณตั้งไว้ใน config */
    -webkit-box-shadow: 0 0 0 1000px #101922 inset !important;
    /* บังคับสีตัวอักษรให้เป็นสีขาว */
    -webkit-text-fill-color: white !important;
    /* ปรับ transition ให้สีไม่ดีดกลับ */
    transition: background-color 5000s ease-in-out 0s;
}
